

.pokemon-detail{
    
}
.pokemon-heading-group{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image-type-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .pokemon-type{
    display: flex;
    justify-content: left;
    text-align: left;
    flex-direction: column;
    gap: 10px;
  }
  .pokemon-image{
    height: 150px;
    width: 150px;
  }
.btn{
    margin-top: 10px;
    width: 100%;
    background-color: #a881af;
    height: 40px;
  }

